.container__info {
  background-color: #003d8f;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.container__letters {
  font-size: 1.5rem;
}

.text {
  color: white;
  font-family: "Permanent Marker", "Courier New", Courier, monospace;
}
.image {
  width: 100%;
  object-fit: cover;
  filter: blur(0.2px) hue-rotate(5deg) opacity(1) saturate(1.3) sepia(0.4)
    contrast(0.9) brightness(0.5);
}
.home_text {
  color: black;
  font-size: 1.5rem;
}
/* xs < 768 */

@media screen and (min-width: 768px) {
  .image {
    height: 53.5rem;
  }
}

.background1 {
  background-image: url("./../../img/36596.jpg");
  background-position: center center;
  background-size: cover;
}
