.container__info {
  background-color: #003d8f;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.container__letters {
  font-size: 1.5rem;
}

.text {
  color: white;
  font-family: "Permanent Marker", "Courier New", Courier, monospace;
}
.image {
  position: relative;
}
.home_text {
  top: 55%;
  transform: translateY(-50%);
  color: #003d8f;
}
/* .image {
  background-image: url("https://img.freepik.com/free-vector/many-cute-animals-bamboo-forest_1308-32851.jpg?w=2000");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */
