.producto-background {
  background-image: url("./../../img/pattern3.png");
}

.btn-infantil {
  background-color: #ff007c;
  border-color: #ff007c;
  outline-style: none;
  box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  font-size: 1.2em;
}
.btn-infantil:hover {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(255, 0, 123, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(255, 0, 123, 1);
  box-shadow: 0px 0px 35px 8px rgba(255, 0, 123, 1);
  background-color: #ff007c;
  border-color: #ff6b6b;
  outline-style: none;
}
.btn-infantil:focus {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(255, 0, 123, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(255, 0, 123, 1);
  box-shadow: 0px 0px 35px 8px rgba(255, 0, 123, 1);
  background-color: #ff007c;
  border-color: #ff6b6b;
  outline-style: none;
}

.btn-didactos {
  box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  background-color: #ffd93d;
  border-color: #ffd93d;
  outline-style: none;
  font-size: 1.2em;
}
.btn-didactos:hover {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(255, 216, 61, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(255, 216, 61, 1);
  box-shadow: 0px 0px 35px 8px rgba(255, 216, 61, 1);
  background-color: #ffd93d;
  border-color: #ffd93d;
  outline-style: none;
}
.btn-didactos:focus {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(255, 216, 61, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(255, 216, 61, 1);
  box-shadow: 0px 0px 35px 8px rgba(255, 216, 61, 1);
  background-color: #ffd93d;
  border-color: #ffd93d;
  outline-style: none;
}

.btn-playa {
  box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);

  background-color: #3ec70b;
  border-color: #3ec70b;
  outline-style: none;
  font-size: 1.2em;
}
.btn-playa:hover {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(61, 199, 11, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(61, 199, 11, 1);
  box-shadow: 0px 0px 35px 8px rgba(61, 199, 11, 1);
  background-color: #3ec70b;
  border-color: #3ec70b;
  outline-style: none;
}
.btn-playa:focus {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(61, 199, 11, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(61, 199, 11, 1);
  box-shadow: 0px 0px 35px 8px rgba(61, 199, 11, 1);
  background-color: #3ec70b;
  border-color: #3ec70b;
  outline-style: none;
}

.btn-bañadera {
  box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  background-color: #0067ff;
  border-color: #0067ff;
  outline-style: none;
  font-size: 1.2em;
}
.btn-bañadera:hover {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(0, 102, 255, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(0, 102, 255, 1);
  box-shadow: 0px 0px 35px 8px rgba(0, 102, 255, 1);
  background-color: #0067ff;
  border-color: #0067ff;
  outline-style: none;
}
.btn-bañadera:focus {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(0, 102, 255, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(0, 102, 255, 1);
  box-shadow: 0px 0px 35px 8px rgba(0, 102, 255, 1);
  background-color: #0067ff;
  border-color: #0067ff;
  outline-style: none;
}

.btn-little {
  box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  background-color: #e83a14;
  border-color: #e83a14;
  outline-style: none;
  font-size: 1.2em;
}
.btn-little:hover {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(232, 59, 20, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(232, 59, 20, 1);
  box-shadow: 0px 0px 35px 8px rgba(232, 59, 20, 1);
  background-color: #e83a14;
  border-color: #e83a14;
  outline-style: none;
}
.btn-little:focus {
  -webkit-box-shadow: 0px 0px 35px 8px rgba(232, 59, 20, 1);
  -moz-box-shadow: 0px 0px 35px 8px rgba(232, 59, 20, 1);
  box-shadow: 0px 0px 35px 8px rgba(232, 59, 20, 1);
  background-color: #e83a14;
  border-color: #e83a14;
  outline-style: none;
}
.message {
  background-color: #3330e4;
  font-family: "Poppins", sans-serif !important;
  border-radius: 6px;
  color: aliceblue;
  box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 18px 17px 5px -9px rgba(0, 0, 0, 0.14);
}

.cards1 {
  transition: all 0.2s ease;
  cursor: pointer;
}
.card1:hover {
  transform: scale(1.1);
}

.text {
  font-family: "Permanent Marker", "Courier New", Courier, monospace;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
  .text {
    font-size: 1em;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .text {
    font-size: 1.3em;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .text {
    font-size: 1.4em;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .text {
    font-size: 1.5em;
  }
}
