.producto-background {
  background-image: url("./../../img/pattern3.png");
}

.text {
  color: aliceblue;
  font-family: "Permanent Marker", "Courier New", Courier, monospace;
}

.buttons {
  background-color: #003d8f;
}
