.nav_background {
  background-image: url("./../../img/pattern3.png");
}
.navBarText {
  font-family: "Permanent Marker", "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: #ffffff !important;
}
.navBarText:hover {
  color: red !important;
  text-decoration: underline;
  text-decoration-color: aqua;
}
