.photo {
  object-fit: fill;
  height: 60vh;
}

.avion {
  font-size: 2.5rem;
  color: #e83a14;
}

.cubo {
  font-size: 2.5rem;
  color: #ff007c;
}

.tren {
  font-size: 2.5rem;
  color: #0067ff;
}

/* sm */
/* @media screen and (min-width: 768px) {
  .avion {
    font-size: 1.3em;
  }
  .cubo {
    font-size: 1.3em;
  }
  .tren {
    font-size: 1.3em;
  }
} */

/* md */
/* @media screen and (min-width: 992px) {
  .avion {
    font-size: 2rem;
  }
  .cubo {
    font-size: 2rem;
  }
  .tren {
    font-size: 2rem;
  }
} */

/* lg */
/* @media screen and (min-width: 1200px) {
  .avion {
    font-size: 2.5em;
  }
  .cubo {
    font-size: 2.5em;
  }
  .tren {
    font-size: 2.5em;
  }
} */
