.photo {
  object-fit: fill;
  height: 80vh;
  object-fit: fill;
  object-position: 15px, 30px;
}

.avion {
  font-size: 2.5rem;
  color: #e83a14;
}

.cubo {
  font-size: 2.5rem;
  color: #ff007c;
}

.tren {
  font-size: 2.5rem;
  color: #0067ff;
}
